.saveBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    white-space: nowrap;
    border-radius: 100px;
    line-height: 0;
    margin:  5px;
    font-size: 1rem;
    padding: 1.3em 2.8em;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(231, 231, 231);
    font-weight: 700;
}
.saveBtn:hover{
    transform: scale(1.04);
}